<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="icon" href="/css/img/cloudy.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>ABOUT</title>
</head>

<body>
    <div class="main">
        {{>header}}
    </div>
    {{!-- <a href="../views/index.hbs">Home page</a> --}}

    <p>This is a Simple Website Where you can enter name of Your City or State and you will get
        the Current Temperature along with other Important Weather Info.
    </p>
    <ul>
        <li>Fells Like Temperature</li>
        <li>Visibility</li>
        <li>Humidity</li>
        <li>Wind Speed</li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>


    <p>{{>footer}}</p>



    {{!--
    <script src="/js/index.js"></script> --}}
</body>

</html>