<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="/css/img/cloudy.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>HELP</title>
</head>

<body>
    <div class="main">
        {{>header}}
    </div>
    {{!-- <a href="../views/index.hbs">Home page</a> --}}
    <p>{{>footer}}</p>



    {{!--
    <script src="/js/index.js"></script> --}}
</body>

</html>