<footer>
    <span><a target="_blank" href="https://github.com/HiteshG88/Weather-website">Github</a></span>
    <span><a target="_blank" href="https://www.linkedin.com/in/hiteshgupta8851/">LinkedIN</a></span>
    <span>copyright &COPY; {{name}}</span>
</footer>